$bp-desktop: 1920px;
$bp-laptop: 1366px;
$bp-tablet: 768px;
$bp-mobile: 360px;

@mixin desktop {
  @media (min-width: #{$bp-desktop}) {
    @content;
  }
}
@mixin laptop {
  @media (min-width: #{$bp-laptop}) and (max-width: #{$bp-desktop - 1px}) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: #{$bp-tablet}) and (max-width: #{$bp-laptop - 1px}) {
    @content;
  }
}

@mixin mobile {
  @media (min-width: 0px) and (max-width: #{$bp-tablet - 1px}) {
    @content;
  }
}

$green-light: #b1c909;
$green: #a5bb0c;
$green-middle: #97ab0d;
$green-dark: #819400;

$white: #ffffff;

$gray: #9da5af;

$dark: #0a1f38;
$dark-middle: #1b2f46;
$dark-light: #2f4056;

$error: rgba(255, 116, 97, 1);
$error-bg: rgba(255, 116, 97, 0.1);
