$bp-desktop: 1920px;
$bp-laptop: 1366px;
$bp-tablet: 768px;
$bp-mobile: 360px;

$green-light: #b1c909;
$green: #a5bb0c;
$green-middle: #97ab0d;
$green-dark: #819400;

$white: #ffffff;

$gray: #9da5af;

$dark: #0a1f38;
$dark-middle: #1b2f46;
$dark-light: #2f4056;
